<section class="container list">
  <h1 class="title">
    {{- if eq .Kind "taxonomy" -}}
      {{- .Data.Singular | title -}}
      {{- print ": " -}}
    {{- end -}}

    {{- .Title -}}
  </h1>
  <ul>
    {{ range .Paginator.Pages }}
    <li>
      <span class="date">
        <i class="fas fa-calendar"></i>
        <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
          {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
        </time>
      </span>
      <span class="reading-time">
        <i class="fas fa-clock"></i>
        {{ i18n "readingTime" .ReadingTime }}
      </span>
      <br>
      <a class="title" href="{{ .URL }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
